Repository woowacourse-teams/2024-cruru, pull requests merged in 2024-09, with the labels that each got.

#645 docs-be: RESTDocs 문서화 적용
  .github/workflows/be-api-docs-page.yml
  backend/build.gradle
  backend/src/docs/asciidoc/applicant.adoc
  backend/src/docs/asciidoc/applyform.adoc
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/club.adoc
  backend/src/docs/asciidoc/dashboard.adoc
  backend/src/docs/asciidoc/evaluation.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/process.adoc
  backend/src/docs/asciidoc/question.adoc
  backend/src/main/java/com/cruru/DataLoader.java
  backend/src/main/java/com/cruru/config/WebMvcConfig.java
  backend/src/main/java/com/cruru/evaluation/controller/EvaluationController.java
  backend/src/test/java/com/cruru/applicant/controller/ApplicantControllerTest.java
  backend/src/test/java/com/cruru/applyform/controller/ApplyFormControllerTest.java
  backend/src/test/java/com/cruru/applyform/domain/ApplyFormTest.java
  backend/src/test/java/com/cruru/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/cruru/club/controller/ClubControllerTest.java
  backend/src/test/java/com/cruru/dashboard/controller/DashboardControllerTest.java
  backend/src/test/java/com/cruru/evaluation/controller/EvaluationControllerTest.java
  backend/src/test/java/com/cruru/member/controller/MemberControllerTest.java
  backend/src/test/java/com/cruru/process/controller/ProcessControllerTest.java
  backend/src/test/java/com/cruru/question/controller/QuestionControllerTest.java
  backend/src/test/java/com/cruru/util/ControllerTest.java
  backend/src/test/java/com/cruru/util/fixture/LocalDateFixture.java
Labels: docs, backend

#711 feat-be: Process 관련 API 쿼리 최적화
  backend/src/main/java/com/cruru/applicant/domain/dto/ApplicantCard.java
  backend/src/main/java/com/cruru/applicant/domain/repository/ApplicantRepository.java
  backend/src/main/java/com/cruru/applicant/domain/repository/EvaluationRepository.java
  backend/src/main/java/com/cruru/applicant/service/ApplicantService.java
  backend/src/main/java/com/cruru/applicant/service/EvaluationService.java
  backend/src/main/java/com/cruru/applyform/domain/repository/ApplyFormRepository.java
  backend/src/main/java/com/cruru/applyform/service/ApplyFormService.java
  backend/src/main/java/com/cruru/email/controller/EmailController.java
  backend/src/main/java/com/cruru/email/domain/Email.java
  backend/src/main/java/com/cruru/global/util/ExceptionLogger.java
  backend/src/main/java/com/cruru/process/facade/ProcessFacade.java
  backend/src/main/java/com/cruru/process/service/ProcessService.java
  backend/src/test/java/com/cruru/applicant/domain/repository/ApplicantRepositoryTest.java
  backend/src/test/java/com/cruru/applicant/service/EvaluationServiceTest.java
  backend/src/test/java/com/cruru/applyform/service/ApplyFormServiceTest.java
  backend/src/test/java/com/cruru/dashboard/service/DashboardServiceTest.java
  backend/src/test/java/com/cruru/email/domain/EmailTest.java
  backend/src/test/java/com/cruru/email/domain/repository/EmailRepositoryTest.java
  backend/src/test/java/com/cruru/email/facade/EmailFacadeTest.java
  backend/src/test/java/com/cruru/process/controller/ProcessControllerTest.java
  backend/src/test/java/com/cruru/process/facade/ProcessFacadeTest.java
  backend/src/test/java/com/cruru/util/ServiceTest.java
  backend/src/test/java/com/cruru/util/fixture/ApplicantFixture.java
Labels: backend

#716 feat-be: Applicant 관련 API 쿼리 최적화
  backend/src/main/java/com/cruru/applicant/facade/ApplicantFacade.java
  backend/src/main/java/com/cruru/question/domain/repository/AnswerRepository.java
  backend/src/main/java/com/cruru/question/service/AnswerService.java
  backend/src/test/java/com/cruru/question/domain/repository/AnswerRepositoryTest.java
  backend/src/test/java/com/cruru/question/service/AnswerServiceTest.java
Labels: refactor, backend
