Repository woowacourse-teams/2024-cruru, pull requests merged in 2024-08, with the labels that each got.

#265 fix-fe: 서체에 font-weight가 적용되지 않는 문제 수정
  frontend/src/components/dashboard/ApplicantCard/style.ts
  frontend/src/styles/globalStyles.ts
Labels: fix, frontend

#266 feat-be: 지원서 수정 기능 구현
  backend/src/main/java/com/cruru/applicant/controller/ApplicantController.java
  backend/src/main/java/com/cruru/applicant/controller/dto/ApplicantUpdateRequest.java
  backend/src/main/java/com/cruru/applicant/domain/Applicant.java
  backend/src/main/java/com/cruru/applicant/service/ApplicantService.java
  backend/src/test/java/com/cruru/applicant/controller/ApplicantControllerTest.java
  backend/src/test/java/com/cruru/applicant/domain/ApplicantTest.java
  backend/src/test/java/com/cruru/applicant/service/ApplicantServiceTest.java
Labels: feature, backend

#269 refactor-be: JSON key 응답 변경
  backend/src/main/java/com/cruru/applyform/controller/dto/ChoiceResponse.java
  backend/src/main/java/com/cruru/applyform/controller/dto/QuestionResponse.java
Labels: refactor, backend

#272 refactor-be: JSON key 응답 변경
  backend/src/main/java/com/cruru/applicant/controller/ApplicantController.java
  backend/src/main/java/com/cruru/applicant/controller/dto/ApplicantMoveRequest.java
  backend/src/main/java/com/cruru/applicant/controller/dto/ApplicantResponse.java
  backend/src/main/java/com/cruru/applicant/controller/dto/DashboardApplicantResponse.java
  backend/src/main/java/com/cruru/applicant/controller/dto/QnaResponse.java
  backend/src/main/java/com/cruru/applyform/controller/ApplyFormController.java
  backend/src/main/java/com/cruru/applyform/controller/dto/AnswerCreateRequest.java
  backend/src/main/java/com/cruru/applyform/controller/dto/ApplyFormCreateRequest.java
  backend/src/main/java/com/cruru/applyform/controller/dto/ApplyFormResponse.java
  backend/src/main/java/com/cruru/applyform/controller/dto/ApplyFormSubmitRequest.java
  backend/src/main/java/com/cruru/applyform/controller/dto/ChoiceResponse.java
  backend/src/main/java/com/cruru/applyform/controller/dto/QuestionResponse.java
  backend/src/main/java/com/cruru/choice/controller/dto/ChoiceCreateRequest.java
  backend/src/main/java/com/cruru/club/controller/ClubController.java
  backend/src/main/java/com/cruru/dashboard/controller/DashboardController.java
  backend/src/main/java/com/cruru/dashboard/controller/dto/DashboardCreateRequest.java
  backend/src/main/java/com/cruru/evaluation/controller/EvaluationController.java
  backend/src/main/java/com/cruru/evaluation/controller/dto/EvaluationResponse.java
  backend/src/main/java/com/cruru/process/controller/ProcessController.java
  backend/src/main/java/com/cruru/process/controller/dto/ProcessCreateRequest.java
  backend/src/main/java/com/cruru/process/controller/dto/ProcessResponse.java
  backend/src/main/java/com/cruru/process/controller/dto/ProcessUpdateRequest.java
  backend/src/main/java/com/cruru/question/controller/dto/QuestionCreateRequest.java
  backend/src/test/java/com/cruru/applyform/controller/ApplyFormControllerTest.java
  backend/src/test/java/com/cruru/club/controller/ClubControllerTest.java
  backend/src/test/java/com/cruru/dashboard/controller/DashboardControllerTest.java
  backend/src/test/java/com/cruru/evaluation/controller/EvaluationControllerTest.java
  backend/src/test/java/com/cruru/process/controller/ProcessControllerTest.java
Labels: refactor, backend

#291 refactor-be(Sub-Domain): Facade Service 도입을 위한 Controller가 없는 각 도메인 Service 기능 이동
  backend/src/main/java/com/cruru/applyform/service/facade/ApplyFormFacade.java
  backend/src/main/java/com/cruru/choice/service/ChoiceService.java
  backend/src/main/java/com/cruru/question/service/QuestionService.java
  backend/src/test/java/com/cruru/choice/service/ChoiceServiceTest.java
  backend/src/test/java/com/cruru/question/service/QuestionServiceTest.java
  backend/src/test/java/com/cruru/util/fixture/QuestionFixture.java
Labels: refactor, backend

#314 refactor-be(Evaluation): Facade Service 계층 도입
  backend/src/main/java/com/cruru/applicant/controller/ApplicantController.java
  backend/src/main/java/com/cruru/applicant/service/ApplicantService.java
  backend/src/main/java/com/cruru/applicant/service/facade/ApplicantFacade.java
  backend/src/main/java/com/cruru/evaluation/controller/EvaluationController.java
  backend/src/main/java/com/cruru/evaluation/controller/dto/EvaluationResponses.java
  backend/src/main/java/com/cruru/evaluation/exception/badrequest/EvaluationNoChangeException.java
  backend/src/main/java/com/cruru/evaluation/service/EvaluationService.java
  backend/src/main/java/com/cruru/evaluation/service/facade/EvaluationFacade.java
  backend/src/main/java/com/cruru/process/service/ProcessService.java
  backend/src/test/java/com/cruru/applicant/service/ApplicantServiceTest.java
  backend/src/test/java/com/cruru/evaluation/service/EvaluationServiceTest.java
  backend/src/test/java/com/cruru/evaluation/service/facade/EvaluationFacadeTest.java
  backend/src/test/java/com/cruru/util/fixture/EvaluationFixture.java
Labels: refactor, backend

#283 feat-fe: 대시보드 내 공고 카드 컴포넌트 구현
  frontend/src/components/common/Dropdown/style.ts
  frontend/src/components/dashboard/ApplicantCard/style.ts
  frontend/src/components/recruitment/RecruitmentCard/RecruitmentCard.stories.tsx
  frontend/src/components/recruitment/RecruitmentCard/index.tsx
  frontend/src/components/recruitment/RecruitmentCard/style.ts
  frontend/src/components/recruitment/RecruitmentCardStat/RecruitmentCardStat.stories.tsx
  frontend/src/components/recruitment/RecruitmentCardStat/index.tsx
  frontend/src/components/recruitment/RecruitmentCardStat/style.ts
  frontend/src/components/recruitment/RecruitmentSidebar/style.ts
  frontend/src/hooks/useRecruitment/index.tsx
  frontend/src/types/recruitment.ts
  frontend/src/utils/formatDate.ts
Labels: feature, frontend

#318 refactor-be(Applicant): Facade Service 계층 도입
  backend/src/main/java/com/cruru/answer/dto/AnswerResponse.java
  backend/src/main/java/com/cruru/answer/service/AnswerService.java
  backend/src/main/java/com/cruru/applicant/controller/ApplicantController.java
  backend/src/main/java/com/cruru/applicant/controller/dto/ApplicantAnswerResponses.java
  backend/src/main/java/com/cruru/applicant/domain/Applicant.java
  backend/src/main/java/com/cruru/applicant/exception/badrequest/ApplicantNoChangeException.java
  backend/src/main/java/com/cruru/applicant/service/ApplicantService.java
  backend/src/main/java/com/cruru/applicant/service/facade/ApplicantFacade.java
  backend/src/main/java/com/cruru/process/service/ProcessService.java
  backend/src/test/java/com/cruru/answer/service/AnswerServiceTest.java
  backend/src/test/java/com/cruru/applicant/controller/ApplicantControllerTest.java
  backend/src/test/java/com/cruru/applicant/domain/ApplicantTest.java
  backend/src/test/java/com/cruru/applicant/service/ApplicantServiceTest.java
  backend/src/test/java/com/cruru/applicant/service/facade/ApplicantFacadeTest.java
  backend/src/test/java/com/cruru/util/fixture/AnswerFixture.java
Labels: refactor, backend

#469 fix-fe: 앱 layout 수정
  frontend/src/components/dashboard/DashboardSidebar/style.ts
  frontend/src/pages/DashboardLayout/style.ts
Labels: fix, frontend

#631 depoly-be: Cruru ver1.0.1 업데이트
  backend/src/main/java/com/cruru/DataLoader.java
  backend/src/main/java/com/cruru/advice/GlobalExceptionHandler.java
  backend/src/main/java/com/cruru/applyform/domain/ApplyForm.java
  backend/src/main/java/com/cruru/question/exception/QuestionUnmodifiableException.java
  backend/src/main/java/com/cruru/question/service/facade/QuestionFacade.java
  backend/src/test/java/com/cruru/question/controller/QuestionControllerTest.java
  backend/src/test/java/com/cruru/question/service/facade/QuestionFacadeTest.java
  backend/src/test/java/com/cruru/util/fixture/ApplyFormFixture.java
Labels: backend, deploy
