Repository woowacourse-teams/2024-cruru, pull requests merged in 2024-10, with the labels that each got.

#764 chore-be(Actions-Prod): 무중단 배포 설정 수정
  .github/workflows/be-cd_prod-docker.yml
Labels: backend, Infra

#845 chore-be: 무중단 배포 actions workflow 설정 변경
  .github/workflows/be-cd_prod-docker.yml
  .github/workflows/be-release-tag-create.yml
Labels: chore, backend

#872 feat-fe: 대시보드 페이지 테마 ver.2 적용
  frontend/src/components/_common/molecules/Tab/index.tsx
  frontend/src/components/_common/molecules/Tab/style.ts
  frontend/src/components/dashboard/DashboardCreate/Apply/QuestionBuilder/style.ts
  frontend/src/components/dashboard/DashboardHeader/style.ts
  frontend/src/components/dashboard/ProcessBoard/style.ts
  frontend/src/components/dashboard/ProcessColumn/style.ts
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Dashboard/style.ts
  frontend/src/pages/DashboardLayout/index.tsx
  frontend/src/pages/DashboardLayout/style.ts
  frontend/src/pages/Landing/style.ts
Labels: feature, frontend

#910 Release v1.2.0
  .github/workflows/be-cd_dev-docker.yml
  backend/build.gradle
  backend/docker-compose.dev.yml
  backend/src/docs/asciidoc/applyform.adoc
  backend/src/docs/asciidoc/email.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/question.adoc
  backend/src/main/java/com/cruru/applicant/domain/repository/ApplicantRepository.java
  backend/src/main/java/com/cruru/applicant/service/ApplicantService.java
  backend/src/main/java/com/cruru/applyform/controller/ApplyFormController.java
  backend/src/main/java/com/cruru/applyform/domain/ApplyForm.java
  backend/src/main/java/com/cruru/auth/domain/RefreshToken.java
  backend/src/main/java/com/cruru/auth/domain/repository/RefreshTokenRepository.java
  backend/src/main/java/com/cruru/auth/facade/AuthFacade.java
  backend/src/main/java/com/cruru/auth/service/AuthService.java
  backend/src/main/java/com/cruru/auth/service/TokenRedisClient.java
  backend/src/main/java/com/cruru/config/DataSourceConfig.java
  backend/src/main/java/com/cruru/config/WebMvcConfig.java
  backend/src/main/java/com/cruru/dashboard/controller/response/DashboardCreateResponse.java
  backend/src/main/java/com/cruru/dashboard/controller/response/DashboardPreviewResponse.java
  backend/src/main/java/com/cruru/dashboard/facade/DashboardFacade.java
  backend/src/main/java/com/cruru/email/controller/EmailController.java
  backend/src/main/java/com/cruru/email/controller/request/EmailRequest.java
  backend/src/main/java/com/cruru/email/controller/request/SendVerificationCodeRequest.java
  backend/src/main/java/com/cruru/email/controller/request/VerifyCodeRequest.java
  backend/src/main/java/com/cruru/email/exception/EmailConflictException.java
  backend/src/main/java/com/cruru/email/exception/NotVerifiedEmailException.java
  backend/src/main/java/com/cruru/email/exception/badrequest/VerificationCodeMismatchException.java
  backend/src/main/java/com/cruru/email/exception/badrequest/VerificationCodeNotFoundException.java
  backend/src/main/java/com/cruru/email/facade/EmailFacade.java
  backend/src/main/java/com/cruru/email/service/EmailRedisClient.java
  backend/src/main/java/com/cruru/email/service/EmailService.java
  backend/src/main/java/com/cruru/email/service/VerificationStatus.java
  backend/src/main/java/com/cruru/email/util/EmailTemplate.java
  backend/src/main/java/com/cruru/email/util/VerificationCodeUtil.java
  backend/src/main/java/com/cruru/global/util/TsidSupplier.java
  backend/src/main/java/com/cruru/member/facade/MemberFacade.java
  backend/src/main/java/com/cruru/member/service/MemberService.java
  backend/src/main/java/com/cruru/process/controller/response/ProcessResponses.java
  backend/src/main/java/com/cruru/process/facade/ProcessFacade.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2_1_5__delete_token_table.sql
  backend/src/test/java/com/cruru/applicant/domain/repository/ApplicantRepositoryTest.java
  backend/src/test/java/com/cruru/applicant/service/ApplicantServiceTest.java
  backend/src/test/java/com/cruru/applyform/controller/ApplyFormControllerTest.java
  backend/src/test/java/com/cruru/applyform/domain/repository/ApplyFormRepositoryTest.java
  backend/src/test/java/com/cruru/applyform/facade/ApplyFormFacadeTest.java
  backend/src/test/java/com/cruru/auth/aspect/AuthValidationAspectTest.java
  backend/src/test/java/com/cruru/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/cruru/auth/domain/repository/RefreshTokenRepositoryTest.java
  backend/src/test/java/com/cruru/auth/service/AuthServiceTest.java
  backend/src/test/java/com/cruru/dashboard/facade/DashboardFacadeTest.java
  backend/src/test/java/com/cruru/email/controller/EmailControllerTest.java
  backend/src/test/java/com/cruru/email/facade/EmailFacadeTest.java
  backend/src/test/java/com/cruru/member/controller/MemberControllerTest.java
  backend/src/test/java/com/cruru/member/facade/MemberFacadeTest.java
  backend/src/test/java/com/cruru/process/facade/ProcessFacadeTest.java
  backend/src/test/java/com/cruru/question/controller/QuestionControllerTest.java
  backend/src/test/java/com/cruru/question/facade/QuestionFacadeTest.java
  backend/src/test/java/com/cruru/util/ControllerTest.java
Labels: backend, release
